body {
  background-color: #228B22; 
  text-align: center; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 90%;
  height: 90%;
}

hr {
  width: 99%;
  margin-top: 0%;
}
